/* GENERAL */
body { background-color: #252525; color: #ddd; margin: 0; }

a { color: #ddd; text-decoration: none; }
a:hover { color: #fff; border-color: #fff !important; }

th, td { padding: 0 1rem; }
li { padding: 0.75em 0; }

iframe {
    max-width: 100%;
    width: 560px;
    height: 315px;
}

/* collapsed sections */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    padding: 0.5rem 2rem 0.5rem 0rem;
    font-size: 130%;
}

  /* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    display: inline-block;
    margin-left: 0rem;
    margin-right: 0.5rem;
    width: 2rem;
    transform: rotate(0deg);
    transition: transform 400ms ease 0ms, margin-left 400ms ease 0ms;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
    margin-left: -0.5rem;
    transition: transform 400ms ease 0ms, margin-left 400ms ease 0ms;
}

/* Hide the nested list */
.nested {
    pointer-events: none;
    display: block;
    border: 2px solid #333;
    border-width: 0px 0px 0px 2px;
    margin-top: 0.5em;
    margin-left: 1em;

    /* animation stuff */
    font-size: 0%;
    opacity: 0;
    max-height: 0rem;
    transition: max-height 200ms ease 200ms, opacity 400ms ease 100ms, font-size 400ms ease 0ms;
}

.nested iframe {
    width: 0px;
    height: 0px;
    transition: width 400ms ease 0ms, height 400ms ease 0ms;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    pointer-events: all;
    font-size: 100%;
    opacity: 1;
    max-height: 100rem;
    transition: max-height 200ms ease 0ms, opacity 400ms ease 100ms, font-size 400ms ease 0ms;
}

.active iframe {
    width: 560px;
    height: 315px;
    transition: width 400ms ease 0ms, height 400ms ease 0ms;
}

/* SPECIFIC */
.topnav { background: #141414; text-align: center; }
.topnav > a {
    display: inline-block;
    vertical-align: middle;
    padding: 1rem;
    border: 1px solid #888;
    text-decoration: none;
}
.topnav img {
    height: 1.3rem;
    padding-right: 0.5rem;
    vertical-align: middle;
    min-width: 1rem;
}

.content {
    margin: auto;
    padding: 1rem;
    background: #000;
    min-height: 100vh; /* make sure our background color at least reaches the bottom */
    max-width: 60rem;
    box-shadow: 0rem 0rem 1rem 0.5rem #141414; /* make sure same color as topnav */
    font-size: 120%;
}

.projects > li { list-style-type: none; }

/* SCREEN SIZES */
@media screen and (max-width: 70rem) {
    .content { max-width: initial; }
}
