{% extends 'base.jinja2' %}

{% block content %}
<div class="leaderboard"></div>
{% endblock %}

{% block footer %}
<script>
$(function() {
    var SortBy = 'score';
    $.getJSON( "/api/dxrando/leaderboard?SortBy="+SortBy, function( r ) {
        var el = $('.leaderboard');
        el.html('');
        RenderLeaderboard(el, r);
    });
});
</script>
{% endblock %}
