<!DOCTYPE html>
<html>

<head>
    <title>Mods4Ever</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/style.css"/>
    <script src="/js.js"></script>

    <meta property="og:type" content="website">
    <meta property="og:title" content="Mods4Ever - Randomizers and Stuff">
    <meta property="og:description" content="Randomizers and more open source projects. Join our Discord and Lemmy communities!">

    {% block header %}{% endblock %}
</head>

<body>
    <div class="topnav">
        <a href="/"><span style="color: #0000; text-shadow: 0 0 #ddd;">🏠</span> Home</a>
        <a href="https://lemmy.mods4ever.com/?dataType=Post&listingType=Local&page=1&sort=New" title="Decentralized and open source version of Reddit"><img src="/Lemmy_logo.svg"/>Lemmy</a>
        <a href="https://kbin.social/m/meta@lemmy.mods4ever.com/t/193090/Mods4Ever-FAQ-and-Links" title="Decentralized and open source version of Reddit"><img src="/kbin_favicon.svg"/>kbin</a>
        <a href="https://discord.gg/tCwBJwNY6V"><img src="/discord_logo.svg"/>Discord</a>
        <a href="https://www.youtube.com/playlist?list=PLZIQTa_kwZhBksj7UzcahPiRaHk87fWch"><img src="/youtube_logo.svg"/>Youtube</a>
    </div>

    <div class="content">
        {% block content %}
            <h1>Mods4Ever Projects:</h1>
            {% block projects %}
                {% from 'macros.jinja2' import project_html %}
                <ul class="projects">
                    {% for projectkey,project in g.projects.items() %}
                        {{ project_html(projectkey, project) }}
                    {% endfor %}
                </ul>
            {% endblock %}
        {% endblock %}
    </div>
</body>

{% block footer %}{% endblock %}
</html>
