<!DOCTYPE html>
<html>

<head>
    <title>Mods4Ever</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/public/style.css"/>
    <script src="/public/js.js"></script>

    <meta property="og:type" content="website">
    <meta property="og:title" content="Mods4Ever - Randomizers and Stuff">
    <meta property="og:description" content="Randomizers and more open source projects. Join our Discord and Lemmy communities!">
    <link rel="icon" id="favicon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><text x='0' y='12' font-size='12'>4️⃣</text></svg>" />

    {% block header %}{% endblock %}
</head>

<body>
    <div class="topnav">
        <a href="/"><span class="icon" style="color: #0000; text-shadow: 0 0 #ddd; margin-top: -0.3em;">🏠</span> Home</a>
        <a href="/lemmy" title="Decentralized and open source version of Reddit"><img src="/public/Lemmy_logo.svg"/>Lemmy</a>
        <!-- <a href="/mbin" title="Decentralized and open source version of Reddit"><img src="/public/mbin_logo.svg"/>Mbin</a> -->
        <a href="/discord" title="Chat with us"><img src="/public/discord_logo.svg"/>Discord</a>
        <a href="/youtube" title="Check out our trailers"><img src="/public/youtube_logo.svg"/>Youtube</a>
        <a href="https://lemmy.mods4ever.com/feeds/all.xml?sort=NewComments" title="RSS Feed"><img src="/public/rss.svg"/>RSS</a>
    </div>

    <div class="content">
        <!-- <h1><a href="https://oengus.io/marathon/dx25">Deus Ex 25th Anniversary marathon event on June 22nd!</a></h1> -->
        {% block content %}
            <h1>Mods4Ever Projects:</h1>
            {% block projects %}
                {% from 'macros.jinja2' import project_html %}
                <ul class="projects carets">
                    {% for projectkey,project in g.projects.items() %}
                        {{ project_html(projectkey, project) }}
                    {% endfor %}
                </ul>
            {% endblock %}
        {% endblock %}
    </div>

    <div class="socials">
        <a href="https://mastodon.gamedev.place/@Die4ever" title="Mastodon"><img src="/public/mastodon-logo-purple.svg" height="30px"/></a>
        <a href="https://bsky.app/profile/Die4ever.mastodon.gamedev.place.ap.brid.gy" title="Bluesky"><img src="/public/bluesky_logo.svg" height="30px"/></a>
        <a href="https://github.com/Die4Ever" title="GitHub"><img src="/public/github-logo.svg" height="30px"/></a>
    </div>
</body>

{% block footer %}{% endblock %}
</html>
