
{% macro project_html(projectkey, project) -%}
<li><a class="caret" href="/project/{{ projectkey }}" id="proj{{ projectkey }}">{{ project.name }}</a>
    <ul class="nested">
        {{ project_inner(project) }}
        {% if project.get('news') %}
            <li><a href="/project/{{ projectkey }}" id="proj{{ projectkey }}">News</a></li>
        {% endif %}
    </ul>
</li>
{%- endmacro %}

{% macro project_inner(project) -%}
    {% if project.get('description') %}
        <li>{{ project.description }}</li>
    {% endif %}

    {% if project.get('youtube') %}
        {% set url = "https://www.youtube.com/embed/" + project.youtube %}
        {% set url = url + ('&' if '?' in project.youtube else '?') %}
        {% set url = url + "list=PLZIQTa_kwZhBksj7UzcahPiRaHk87fWch&enablejsapi=1" %}
        <iframe src="{{ url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {% endif %}

    {% for downloadname,downloadurl in project.get('downloads', {}).items() %}
        <li><a href="https://github.com/{{ project.repo }}/releases/latest/download/{{ downloadurl }}">DOWNLOAD: {{ downloadname }}</a></li>
    {% endfor %}

    {% if project.get('repo') %}
        <li><a href="https://github.com/{{ project.repo }}/#readme">Readme</a></li>
    {% endif %}

    {% if project.get('downloads') %}
        <li><a href="https://github.com/{{ project.repo }}/releases/latest">Release Notes</a></li>
    {% elif project.get('repo') %}
        <li><a href="https://github.com/{{ project.repo }}/releases/latest">Latest Release</a></li>
    {% endif %}

    {% for linkname,linkurl in project.get('links', {}).items() %}
        <li><a href="{{ linkurl }}">{{ linkname }}</a></li>
    {% endfor %}

    {% if project.get('community') %}
        <li>
            <a href="https://lemmy.mods4ever.com/c/{{ project.community }}" title="Decentralized and open source version of Reddit">Lemmy</a> ||
            <a href="https://fedia.io/m/{{ project.community }}@lemmy.mods4ever.com" title="Decentralized and open source version of Reddit">Mbin</a> ||
            <a href="https://mastodon.social/@{{ project.community }}@lemmy.mods4ever.com" title="Decentralized and open source version of Twitter">Mastodon</a>
        </li>
    {% endif %}
{%- endmacro %}

{% macro project_news(project) -%}
    {% for news in project.news() %}
        <div>
            <h3>{{ news.date }} - {{news.header}}</h3>
            <ul>
            {% for change in news.changes %}
                <li>{{ change }}</li>
            {% endfor %}
            </ul>
            And more! Download links above or read the full <a href="https://github.com/{{ project.repo }}/releases">Release Notes on Github</a>.
        </div>
        <br/>
    {% endfor %}
{%- endmacro %}
