{% extends 'base.jinja2' %}

{% block content %}

{% from 'macros.jinja2' import project_inner %}
<h1>{{ g.project.name }}</h1>
{{ project_inner(g.project) }}

<h2><a href="/">More Projects Here</a></h2>
{% endblock %}
